* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
}
.group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}
.text {
    font-size: 20px;
    margin-left: 12px;
}


.1 {
    margin-bottom: 10px;
    display:inline-block;
}
