* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 12px;
    line-height: 12px;
    
}
nav {
    color: white;
}
a {
    color: white;
    transition: rgb(161, 161, 161) 0.3s ease;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}
.text {
    font-size: 20px;
    margin-left: 12px;
    line-height: 4px;
}


.box .one {
    margin-bottom: 10px;
    display:inline-block;
}


#test .box {
    background-color: green;
}





